<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <% if (locals.currentUser) {%>
      <h1>Welcome, <%= currentUser.first_name %></h1>
      <p>member: <%= currentUser.membership_status %></p>
      <p>admin: <%= currentUser.admin %></p>
      <a href="/message">New Message</a>
      <a href="/log-out">LOG OUT</a>
      <% } else { %>
      <p>You are not currently logged in.</p>
      <% } %>
      
      <div class="messages-container">
        <% if (messages && messages.length > 0) { %>
          <% messages.forEach(function(message) { %>
            <div class="message" style="border: 1px solid black;">
              <h3><%= message.title %></h3>
              <p><%= message.text %></p>
              <p>by <%= locals.currentUser && locals.currentUser.membership_status ? message.first_name : "anonymous" %> </p>
              <p class="timestamp"><%= locals.currentUser && locals.currentUser.membership_status ? message.timestamp : "date hidden" %></p>
              <% if (locals.currentUser && locals.currentUser.admin) { %>
                <form
                action="/message/<%= message.message_id  %>"
                method="POST"
                onsubmit="return confirm('Are you sure you want to delete this?')"
                >
                  <button type="submit">delete</button>
                </form>
              <% } %>
            </div>
          <% }) %>
        <% } else { %>
          <p>No messages yet.</p>
        <% } %>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
